<section class="panel panel-default table-dynamic">


    <div class="table-filters">
        <div class="row">
            <div class="col-sm-1 col-xs-3">
                <md-button ng-click="new()" class="md-raised btn-w-xs md-primary">New</md-button>
            </div>
            <div class="col-sm-4 col-xs-8">
                <form>
                    <input type="text" placeholder="Search ..." class="form-control"
                           data-ng-model="searchKeywords" data-ng-keyup="search()">
                </form>
            </div>
            <div class="col-lg-7 text-right">
                <md-input-container style="margin: 0px;">
                    <md-switch style="margin: 0px;" ng-change="filterByOfferTypeAndStatus()" ng-model="statusFilter" class="md-primary">
                        <span class="label {{(statusFilter) ? 'label-success' : 'label-danger'}}">{{(statusFilter) ? 'ACTIVE' : 'INACTIVE'}}</span>
                    </md-switch>
                </md-input-container>
            </div>
        </div>
    </div>


    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th ng-repeat="item in header">
                    <div class="th"> {{item}}
                        <span class="fa fa-angle-up" data-ng-click="order(item) "
                              data-ng-class="{active: row == item}"></span>

                        <span class="fa fa-angle-down" data-ng-click=" order('-'+item) "
                              data-ng-class="{active: row == '-'+item}"></span>
                    </div>
                </th>
                <th width="10%">
                    <div class="th">Actions</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="domain in currentPageData">
                <td ng-repeat="item in header">
                    <div ng-if="item === 'status'">
                        <span class="label {{(domain[item]) ? 'label-success' : 'label-danger'}}">{{(domain[item]) ? 'ACTIVE' : 'INACTIVE'}}</span>
                    </div>
                    <div ng-if="item !== 'status'">
                        <a style="cursor: pointer;" ng-if="item == 'name'" ng-click="edit(domain._id)"> {{domain[item]}}</a>
                        <div ng-if="item !== 'name'">{{domain[item]}}</div>
                    </div>
                </td>

                <td>
                    <!--<a href="" ng-click="edit(domain._id)"><i class="zmdi zmdi-edit"></i></a>&nbsp;&nbsp;-->
                    <a href="" ng-click="details(domain._id)"><i class="zmdi zmdi-search"></i></a>&nbsp;&nbsp;
                    <a href="" ng-click="delete($event, domain._id)"><i class="zmdi zmdi-delete"></i></a>&nbsp;&nbsp;
                    

                </td>
            </tr>
        </tbody>
    </table>


    <footer class="table-footer">
        <div class="row">
            <div class="col-md-6 page-num-info">
                <span> Show
                    <select data-ng-model="numPerPage" data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                    </select> entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm" ng-model="currentPage" total-items="domainListFiltered.length"
                                max-size="5" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></uib-pagination>
            </div>
        </div>
    </footer>
</section>
